.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 30px;

  @media only screen and (max-width: 1440px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.reviewSummary {
  grid-column: 1 / span 2;

  @media only screen and (max-width: 1600px) {
    grid-column: 1 / -1;
  }
}

.addReview {
  width: 100%;
  height: 100%;

  @media only screen and (max-width: 1600px) {
    grid-column: 1 / -1;
  }
}
