$icomoon-font-family: "xicons" !default;
$icomoon-font-path: "fonts" !default;

$x_arrow-down-1: "\e900";
$x_arrow-right-1: "\e901";
$x_check-1: "\e902";
$x_facebook-1: "\e903";
$x_globe-1: "\e90d";
$x_heart-1: "\e904";
$x_info-circle-1: "\e905";
$x_instagram-1: "\e906";
$x_linkedin-1: "\e907";
$x_location-pin-1: "\e90e";
$x_menu-1: "\e908";
$x_phone-1: "\e90f";
$x_search-1: "\e909";
$x_star-filled: "\e90a";
$x_star-unfilled: "\e90b";
$x_twitter-1: "\e90c";

