@import "@/assets/styles/partials/mixins.scss";

.buttonS1 {
  @include buttonReset();
  width: 100%;
  padding: 13px 20px;
  border-radius: 26px;
  background-color: var(--primaryColor);
  transition: background-color var(--transition-short) linear;

  &:active,
  &:focus,
  &:hover {
    cursor: pointer;
    background-color: var(--primaryDarkColor);
  }

  &__title {
    font-size: 18px;
    font-family: var(--font-family-1);
    font-weight: 400;
    line-height: 1.3em;
    color: var(--white);
    white-space: nowrap;
    transition: color var(--transition-short) linear;
  }

  &--light {
    background-color: transparent;

    .buttonS1__title {
      color: var(--black);
    }

    &:active,
    &:focus,
    &:hover {
      .buttonS1__title {
        color: var(--white);
      }
    }
  }
}
