.breadcrumbS1 {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: -7px -7px;

    & > * {
      padding: 7px 7px;
    }
  }

  &__linkWrapper {
    position: relative;

    &:not(:last-of-type) {
      &::after {
        display: block;
        content: "|";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);

        font-size: 12px;
        font-family: var(--font-family-1);
        font-weight: 500;
        line-height: 1.2em;
        color: var(--primaryTextColor);
      }
    }
  }

  &__link {
    display: inline-block;
    font-size: 12px;
    font-family: var(--font-family-1);
    font-weight: 500;
    line-height: 2.16em;
    color: var(--primaryTextColor);
    padding: 5px 5px;
    border-radius: 5px;
    background-color: var(--white);
    transition: color var(--transition-short) linear,
      background-color var(--transition-short) linear;

    &:active,
    &:focus,
    &:hover {
      outline: none;
      cursor: pointer;
      color: var(--white);
      background-color: var(--primaryColor);
    }
  }
}
